@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --secondary-color: #4eb3e2;
}

body {
    font-family: "Pixelify Sans", sans-serif;
    background: #000;
    color: #f0f0f0;
    max-width: 960px;
    margin: 0 auto;
}

a {
    color: #f0f0f0;
}

a:hover {
    color: var(--secondary-color);
}

.active {
    color: var(--secondary-color);
}

/* ===
Navbar
=== */
.navbar {
    text-align: center;
}

.navbar__links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* ===
Footer
=== */

.group3__container {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    
}

.social__links {
    align-items: center;
    display: flex;
    gap: 1rem;
}

/* ===
Downloads
=== */

.downloads {
    margin: 2rem 0;
    padding: 1rem;
}

.downloads__title {
    color: var(--secondary-color);
    margin-bottom: 1rem;
}

.downloads__table {
    width: 100%;
    border-collapse: collapse;
}

.downloads__row {
    border-bottom: 0.5px solid #f0f0f0;
}

.downloads__cell {
    text-align: center;
}

/* ===
Media QWERY
=== */

@media (max-width: 600px) {
    .navbar__links {
        flex-direction: column;
    }

    .downloads__table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    .downloads__cell {
        padding: 0.4rem 0.6rem;
    }

    .downloads__title {
        text-align: center;
    }

    .group3__container {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}
