@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --secondary-color: #4eb3e2;
    --color-chathams-blue-50: #f2f9fd;
    --color-chathams-blue-100: #e3f1fb;
    --color-chathams-blue-200: #c2e3f5;
    --color-chathams-blue-300: #8bcdee;
    --color-chathams-blue-500: #279ad0;
    --color-chathams-blue-600: #187bb1;
    --color-chathams-blue-700: #15638f;
    --color-chathams-blue-800: #155376;
    --color-chathams-blue-900: #174663;
    --color-chathams-blue-950: #0f2d42;
}

body {
    font-family: "Pixelify Sans", sans-serif;
    background: #000;
    font-size: 16px;
    color: #f0f0f0;
    max-width: 960px;
    line-height: 1.6;
    letter-spacing: 0.02rem;
    margin: auto;
}

main {
    margin: 1rem 0;
    padding: 1rem;
}

a {
    color: #f0f0f0;
}

a:hover {
    color: var(--secondary-color);
}

.active {
    color: var(--secondary-color);
}

/* ===
Starts
=== */
#stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: -1;
    /* para que el fondo quede detrás del contenido */
    background: black;
}


/* ===
Navbar
=== */
.navbar {
    text-align: center;
}

.navbar__links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* ===
Searchbar
=== */

.searchbar {
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /*gap: 0.2rem;*/
}

.searchbar__input {
    background-color: #000;
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    font-family: "Pixelify Sans", sans-serif;
    padding: 0.3rem 0.4rem;
    width: 200px;
}

.searchbar__input::placeholder {
    color: var(--secondary-color);
}

.button__img {
    width: 16px;
}

.searchbar__button {
    background-color: var(--secondary-color);
    color: #000;
    padding: 0.3rem 0.4rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.searchbar__button:hover {
    background-color: #f0f0f0;
}

/* ===
Footer
=== */

.group3__container {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

.social__links {
    align-items: center;
    display: flex;
    gap: 1rem;
}

/* ===
Downloads
=== */

.downloads {
    margin: 1rem 0;
}

.downloads__title {
    color: var(--secondary-color);
    /*margin-bottom: 1rem;*/
}

.downloads__table {
    width: 100%;
    border-collapse: collapse;
}

.downloads__row {
    border-bottom: 0.5px solid #f0f0f0;
}

.downloads__cell {
    text-align: center;
}

/* ===
Media QWERY
=== */

@media (max-width: 600px) {
    .navbar__links {
        flex-direction: column;
    }

    .social__links {
        flex-direction: column;
    }

    .downloads__table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    .downloads__cell {
        padding: 0.4rem 0.6rem;
    }

    .downloads__title {
        text-align: center;
    }

    .group3__container {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}

/* ===
Group 1
=== */

.group1__container {
    background-color: var(--color-chathams-blue-800);
    box-shadow: 6px 6px 0 var(--color-chathams-blue-950);
    padding: 1rem;
    margin: 2rem auto;
    width: 90%;
}